:root{
  --size-1: 42px;
  --size-2: 36px;

  --semi-bold: 600;
}

* {
  font-family: 'Inter', sans-serif;
  font-weight: var(--semi-bold);
}

body {
  font-size: var(--size-5);
  white-space: nowrap;
}

main {
  margin: 45px;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid black;
  width: 510px;
}

aside > .display-title-2 {
  text-align: center;
}

#store {
  margin-bottom: 0;
}

#date {
  margin-top: 0;
}

.display-title-1 {
  font-size: var(--size-1) !important;
}

.display-title-2 {
  font-size: var(--size-2) !important;
}

button {
  border: none;
  background-color: LightGray;
  padding: 15px 20px 15px 20px;
  font-size: 24px;

  &:hover {
    background-color: black;
    color: white;
  }
}

figure {
  width: 1289px;
  height: 632px;
  background-color: LightGray;
  padding: 0;
  margin: 0;
}

video {
  width: 1289px;
  height: 632px;
  background-color: LightGray;
  padding: 0;
  margin: 0;
}